<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>오로지 자바스크립트로 만든 게임</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 class="text-center my-4">오로지 자바스크립트로 만든게임</h1>
<div class="game-container">
    <div class="background"></div>
    <div class="interface">
        <!-- 장비창 -->
        <div class="equipment">
            <div class="equipment-slot" id="head-slot" onclick="equipItem('head')">머리</div>
            <div class="equipment-slot" id="armor-slot" onclick="equipItem('armor')">갑옷</div>
            <div class="equipment-slot" id="weapon-slot" onclick="equipItem('weapon')">무기</div>
            <br>
            <br>
            <br>
            <!-- 인벤토리 -->
            <div class="inventory" id="inventory">
                <!-- 20칸의 인벤토리 생성 -->
                <script>
                    for (let i = 0; i < 20; i++) {
                        document.write(`<div class='inventory-item' onclick='selectInventoryItem(${i})' id='inventory-item-${i}'></div>`);
                    }
                </script>
            </div>
        </div>
        <!-- 상태 표시 영역 -->
        <div id="stats-container">
            <p>JOB:<span id="job"></span></p>
            <p>HP: <span id="health"></span></p>
            <p>ATK: <span id="attack"></span></p>
            <p>DEF: <span id="defense"></span></p>
            <p>SPEED: <span id="speed"></span></p>
            <p>GOLD: <span id="gold"></span></p>
        </div>
    </div>
</div>


<!--몬스터 상세정보-->
<div id="enemyStats-container">
    <p>MONSTER: <span id="monster-name"></span></p>
    <p>HP: <span id="monster-hp"></span></p>
    <p>ATK: <span id="monster-attack"></span></p>
    <p>DEF: <span id="monster-defense"></span></p>
</div>

<!--상점-->
<div class="shop">
    <h2>상점</h2>
    <div class="shop-item" onclick="buyItem(0)">철 헬멧 (100 골드)</div>
    <div class="shop-item" onclick="buyItem(1)">가죽 갑옷 (200 골드)</div>
    <div class="shop-item" onclick="buyItem(2)">장검 (300 골드)</div>
    <div class="shop-item" onclick="buyItem(3)">체력 포션 (50 골드)</div>
</div>

<!-- 숲속 배경 -->
<div class="background-forest" id="background-forest"></div>

<!-- 캐릭터 선택 화면 -->
<div id="jobBackGround" style="display: none;">
        <img src="/image/warrior.png" alt="전사" class="character-image" onclick="selectJob('warrior')">
        <img src="/image/thief.png" alt="도둑" class="character-image" onclick="selectJob('thief')">
        <img src="/image/archer.png" alt="궁수" class="character-image" onclick="selectJob('archer')">
        <img src="/image/wizard.png" alt="마법사" class="character-image" onclick="selectJob('wizard')">
</div>

<!--선택한 캐릭터 이미지-->
<div id="character-background">
    <img id="selectedCharacterImage" alt="캐릭터 이미지">
</div>

<!--몬스터이미지가 나오는곳-->
<div class="text-center my-4">
    <img src="/image/slime.png" id="monster-image" alt="몬스터 이미지">
</div>

<!-- 시작 및 진행 버튼 -->
<div class="ui-button">
    <button id="gameStartButton" onclick="gameStart()">게임 시작</button>
    <button id="gameBattleButton" onclick="gameBattle()" style="display: none;">진행하기</button>
    <button id="nextFloorButton" onclick="nextFloor()" style="display: none;">다음 층으로 가기</button>
    <button id="confirmSelectionButton" onclick="confirmJobSelection()" style="display: none;">선택 완료</button>
</div>

<!-- 로그 박스 -->
<div class="card" style="width: 100%; max-width: 600px; margin: auto;">
    <div class="card-body">
        <div id="log" class="overflow-auto" style="max-height: 300px;"></div>
    </div>
</div>
<script src="/js/js.js"></script>

</body>
</html>
